.about{
    min-height: 90vh;
}
.about-page{
    display: grid;
    width: 70%;
    margin-left: 3rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.image{
    max-width: 100px;
    img{
        max-width: 200px;
    }
}
.login-btn{
    position: absolute;
    top: 7rem;
    right: 3rem;
    h4{
        color: rgb(86, 4, 186);
    }
}