.about{
    min-height: 70vh;
}
.about-page{
    display: grid;
    width: 70%;
    margin-left: 3rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.image{
    justify-content: center;
    display: flex;
    img{
        max-width: 250px;
        max-height: 250px;
        border-radius: 50%;
    }
}
.login-btn{
    position: absolute;
    top: 6rem;
    right: 2rem;
    h4{
        color: rgb(86, 4, 186);
    }
}
.small-font{
    font-size: 18px;
}
.details{
    line-height: 2rem;
}
.contact{
    display: flex;
    gap: 3rem;
    a{
        color: black;
        font-size: 1.5rem;
    }
}