.contents-page{
    min-height: 80vh;

    .all-blogs{
        ul li{
            margin: 1rem 0;
            border-bottom: 1px dashed rgb(97, 97, 97);
            padding-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a{
                color: rgb(41, 41, 41);

                :hover{
                    cursor: pointer;
                    color: rgb(0, 0, 0);
                }
            }
        }
    }
}
