.post-page{
    max-width: 80%;
    margin: auto;

    h1{
        margin: 2rem 0;
    }
}

.post-form{
    max-width: 60%;
    display: grid;
    .text-input{
        border: none;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding: 5px;
        width: 450px;
        margin-left: auto;
    }

    label {
        display: inline-block;
        text-align: left;
        position: relative;
        top: 25px;
      }
      
      input {
        display: inline-block;
        width: 200px;
      }
      

    input, textarea, button{
        margin: 1rem auto;
        padding: 0.5rem;
    }
}

.label-input{
    display: flex;
    margin: 1rem 0;
}

.form-image{
    input{
        margin-left: 3rem;
    }
}